@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Daily Performance</h1>
    <p class="lead">BETA VERSION.</p>
    
</div>



<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Project</h2>
            <p>
                Project type name.
            </p>

        </div>
        <div class="col-md-4">
            <h2>Work</h2>
            <p>Work hours.</p>

        </div>
        <div class="col-md-4">
            <h2>Estimate</h2>
            <p>Estimate cost.</p>

        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Day1</th>
                    <th>Day2</th>
                    <th>Day3</th>
                    <th>Day4</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Project-1</td>
                    <td>6h</td>
                </tr>
                <tr>
                    <td>Project-2</td>
                    <td>4h</td>
                </tr>
                <tr>
                    <td>Project-3</td>
                    <td>5h</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>